<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Application</title>
  </head>
  <body>
    <h1>Todo Application</h1>
    <form action="/add-todo" method="post">
      <input type="text" name="todo" placeholder="Enter Task" />
      <button type="submit" value="Add Task">ADD</button>

      <% items.forEach((element,index) => { %>
      <li style="list-style-type: none">
        <input type="checkbox" name="completed" value="<%= index %>" <%=
        element.isComplete && 'checked' %> /> <%= element.title%>
        <button
          formaction="/remove-todo"
          name="delete"
          value="<%= index %>"
          type="submit"
        >
          Remove
        </button>
      </li>

      <% }) %>
    </form>
  </body>
</html>
